[Unit]
Description=AtlasD Server
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/atlasd /etc/atlasd/config.yaml
Restart=always
RestartSec=3
User=root
WorkingDirectory=/var/lib/atlasd

[Install]
WantedBy=multi-user.target
