[Unit]
Description=AtlasD Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/etc/atlasd
ExecStart=/usr/local/bin/atlasd -config /etc/atlasd/config.yaml
Restart=always
RestartSec=3

LimitNOFILE=1048576
LimitNPROC=1048576

[Install]
WantedBy=multi-user.target
